*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.nav_bar{
  height: 10vh;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,230,40,1) 32%, rgba(0,212,255,1) 100%);
}
.product{
  display: flex;
  flex-wrap: wrap;
  width:80vw;
  margin: 10vw;;
}
.product_image{
  margin:0 5vw 10vh 3vw;
}
.product_image img{
  height: 300px;
  width: 400px;
}
.color-box{
  height: 40px;
  width:40px;
  margin:10px;
}
.disabledButton{
  background-color: rgb(82, 141, 136);
}
.textDecoration{
  text-decoration: line-through;
}