*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.nav_bar{
  height: 10vh;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(20,230,40,1) 32%, rgba(0,212,255,1) 100%);
}
.product-image img{
  height: 300px;
  width: 350px;
  
}
#app{
  display: flex;
  justify-content: space-around;
  padding:20vh;
  flex-wrap: wrap;
}
.product-info{
  width:40vw;
 
}
.wrapper-btn{
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: 20px;
  height: 49px;
}
button{
  background-color: rgb(9, 102, 223);
  padding: 7px;
  border: 1px solid blue;
  border-radius: 13px;
}
.cart{
 
  padding: 15px;
  border:1px solid rgb(226, 226, 226);
  text-align: center;
  border-radius: 10px;
}
.color-round{
  height: 25px;
  width: 25px;
  margin-top: 5px;
  border-radius: 50px;
}
.disableBtn{
  background-color: rgb(192, 145, 236);
  border:1px solid rgb(167, 89, 240);
}
